header {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: darkslategray;
    color: snow;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        list-style: none;
    }

    a {
        font-size: 1.5rem;
        color: inherit;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: chartreuse;
        }


    }
}